@using Recruit_Pro.Models;

<link href="~/css/Position.css" rel="stylesheet" />
<div class="card upperbox">
    <div class="left">
        <h2>Candidate</h2>
        <p>Manage Candidates </p>
    </div>
    <div class="right">
        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Add Candidate</button>
            <button class="btn btn-secondary">Export</button>
        </div>
        <div class="table-search">
            <form action="/" method="post">
                <input type="text" placeholder="Search..." name="search" class="search-input" />
            </form>
        </div>
    </div>

</div>
<div class="card lowerbox">
</div>